<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="info" monitorInterval="5">
   <Appenders>
      <Console name="console" target="SYSTEM_OUT">
         <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%F:%L)[%X{url}][%X{seq}] - %m%n" />
      </Console>

      <RollingFile name="fixedTimeFileAppender" fileName="${sys:log.home}/TomcatMetaspaceOOM/TomcatMetaspaceOOM.log"
                   filePattern="${sys:log.home}/TomcatMetaspaceOOM/TomcatMetaspaceOOM.log.%d{yyyy-MM-dd}.%i.log.gz">
         <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}.%M(%F:%L)[%X{url}][%X{seq}] - %m%n" />
         <Policies>
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="1024 MB" />
         </Policies>
         <DefaultRolloverStrategy max="512" />
      </RollingFile>

      <Async name="async" bufferSize="512" includeLocation="true">
         <AppenderRef ref="fixedTimeFileAppender" />
      </Async>

   </Appenders>
   <Loggers>
      <Root level="INFO" includeLocation="true">
         <AppenderRef ref="console" />
         <AppenderRef ref="async" />
      </Root>

      <AsyncLogger name="com.test" level="info" additivity="false" includeLocation="true">
         <AppenderRef ref="async" />
         <AppenderRef ref="console" />
      </AsyncLogger>
   </Loggers>
</Configuration>